# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
/.build
/Packages
/*.xcodeproj/project.xcworkspace

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Other
*.swp
*.lock